In [4]:
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

import visuals as vs
%matplotlib inline

# Load the dataset
in_file = 'mock_data.csv'
full_data = pd.read_csv(in_file)

# Printing the first few entries of the dataset
display(full_data.head())

,x_min,x_max,x_mean,x_sd,y_min,y_max,y_mean,y_sd,z_min,z_max,z_mean,z_sd,disease
0,79,61,93,67,54,2,70,56,39,35,44,29,False
1,96,31,2,59,5,2,95,17,86,5,21,100,True
2,70,99,92,28,67,55,30,69,50,50,58,83,False
3,96,22,36,9,75,71,25,79,57,88,56,40,False
4,75,66,70,11,98,21,77,83,16,14,86,13,True

In [18]:
# Storing the 'disease'(output) feature in a new variable and removing it from the dataset

outcomes = full_data['disease']
data = full_data.drop('disease', axis = 1)

# The new dataset with 'disease' removed
display(data.head())

,x_min,x_max,x_mean,x_sd,y_min,y_max,y_mean,y_sd,z_min,z_max,z_mean,z_sd
0,79,61,93,67,54,2,70,56,39,35,44,29
1,96,31,2,59,5,2,95,17,86,5,21,100
2,70,99,92,28,67,55,30,69,50,50,58,83
3,96,22,36,9,75,71,25,79,57,88,56,40
4,75,66,70,11,98,21,77,83,16,14,86,13

In [6]:
from sklearn.cross_validation import train_test_split

features_train, features_test, output_train, output_test = train_test_split(data, outcomes, test_size=0.2, random_state=42)

In [13]:
from sklearn import tree
def studentClassifier(features_train, output_train):
    clf = tree.DecisionTreeClassifier()
    clf.fit(features_train, output_train)
    
    return clf

In [14]:
classifier = studentClassifier(features_train, output_train)

In [16]:
# Testing first example 
example = [79, 61, 93, 67, 54, 2, 70, 56,39, 35, 44, 29]
classifier.predict(example)

/Users/madhurimotoori/Documents/Courses/MLND/mlnd/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([False], dtype=bool)

In [19]:
test_outcomes = classifier.predict(features_test)

In [26]:
def accuracyScore(test_outcomes, output_test):
    if len(test_outcomes) == len(output_test): 
        return "Predictions have an accuracy of {:.2f}%.".format((test_outcomes == output_test).mean()*100)
    else:
        return "Number of predictions does not match number of outcomes!"

In [27]:
print accuracyScore(test_outcomes, output_test)

Predictions have an accuracy of 60.00%.